
.added {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap:5px;
    align-items: center;
    color:#e3fef7;
}

.added .problemTitle {
    word-break: break-all;
}

.btns {
    display: flex;
    gap:5px;
}

.editBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color:white;
    border:2px solid white;
    border-radius: 5px;
    padding:6px 12px
}

.checkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color:white;
    border:2px solid white;
    border-radius: 5px;
    padding:6px 12px
}

.deleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color:white;
    border:2px solid white;
    border-radius: 5px;
    padding:6px 12px

}