.singleCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    padding:5px 5px;
    border-radius: 20px;
    text-decoration: none;
    scale: 1;
    transition: scale 0.1s ease-in-out;
    color:#e3fef7;
    position: relative;
    padding:15px 15px;
    min-width: 200px;

}

.singleCard:visited, .singleCard:active  {
    color:#e3fef7;
    text-decoration: none;
}

.singleCard:hover {
    scale:1.05;
    transition: scale 0.4s ease-in-out;
    text-decoration: none;
    
}

.profileImgCard {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left:50%;
    top:0;
    transform: translate(-50%,-50%);
}


.userIcon {
    position: absolute;
    color:  white;
    background-color: #526D82;
    height: 125px;
    width: 125px;
    left:50%;
    top:0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.profileInfoCard {
    padding-top:50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap:20px;
}


.singleCard p {
    margin: 0;
    padding: 0;
}

.gold {
    color:gold;
    height: 60px;
    width: 60px;
}

.silver {
    color:silver;
    height: 60px;
    width: 60px;
}

.bronze {
    color:rgb(205, 127, 50);
    height: 60px;
    width: 60px;
}

.buttonDeleteUser {
    font-size:1.4rem;
    padding:10px 20px;
    color:#e3fef7;
    background-color: transparent;
    border:2px solid #e3fef7;
    border-radius: 25px;
}
.buttonDeleteUser:hover {
    cursor: pointer;
}


@media (max-width:560px) {
    .singleCard {
        min-width:95%;
    }
}