
.usersDiv {
    display: flex;
    flex-direction: column;
    background-color: #526D82;
    align-items: center;
    gap:10px;
    padding:15px 30px;
    margin-top:50px;
    justify-content: center;

}


.usersDiv .searchBarForm {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 150px;

}

.pageNumbersDiv {
    display: flex;
    gap:10px;
    margin-top:20px;
}

.pageNumbers:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pageNumbers {
    background-color: transparent;
    border: none;
    color:white;
    font-size:1.3rem;
}

.searchIcon {
    position: absolute;
    right:0px;    
    background-color: transparent;
    border:none;
    color:#DDE6ED;
    
}

.searchIcon:hover {
    cursor: pointer;
}

.usersDiv input {
    width: 100%;
    border-radius:10px;
    padding:5px 10px;
    background-color: #27374D;
    color:#DDE6ED;
    border:2px solid #DDE6ED;
    padding-right: 40px;
}

.usersDiv input::placeholder {
    color:#DDE6ED;

}