
.profile-links-div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top:20px;
    display: flex;
    gap:30px
}

.profile-links-div li {
 
display: inline;
font-size: 1.5rem;
      
}

.profile-link,.profile-link:visited {
    color:#E3FEF7;
    text-decoration: none;
}

.profile-link:hover {
    text-decoration: underline;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.profileInfoAndImg {
    display: flex;
    background-color: #526D82;
    justify-content: space-between;
    gap:20px;
    padding:10px 20px;
}



.profileInfo {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:20px;
    padding-right:20px;
    color:#E3FEF7;
    padding-top:20px;
   
    
}

.profileInfo p {
    margin: 0;
    padding: 0;
}

.editProfileBtn {
    background-color: #526D82;
    
    border:2px solid #E3FEF7;
    border-radius: 10px;
}



.editProfileBtn:hover {
    background-color:#27374D;
    color: #526D82;
}

.editProfileBtn .profile-link {
    display: block;
    padding: 10px 0px;
}

.editProfileBtn .profile-link:hover {
    text-decoration: none;
    cursor: pointer;
    
}

@media (max-width:363px) {
    .profile-links-div li {
        font-size: 1rem;
    }
}

@media (max-width:620px) {
    .profile-links-div ul {
        display: flex;
        justify-content: space-around;
    }
}