
.orderedListRating {
   
    margin-top:50px;
    width: 100%;
    color:#E3FEF7;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
}


@media (max-width:780px) {
    .orderedListRating {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:15px;
    }
}
