




.submissionsTable {
    margin-top:50px;
    width: 100%;
    color:#e3fef7;
    border:1px solid #e3fef7;
    border-collapse: collapse;
    text-align: center;
}

.submissionsTable td, .submissionsTable th {
    padding: 10px 20px;
    border:1px solid #e3fef7;
}

.submissionsTable td:last-child {
    text-align: center;
}

.submissionsTable td div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.submissionsTable .problemTitle {
    font-size: 1rem;
    
}

.submissionsTable .problemSpanTopics {
    font-size:0.9rem;
    color:#526D82;
}

.problemTitle, .problemTitle:visited {
    color: #e3fef7;
    text-decoration: none;
}

.problemTitle:hover {
    text-decoration: underline;
}




